/* Selettori generici */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

body{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* Dichiarazione variabili */

html {
    --white-font: #ffffff;
    --dark-white-font: #444444;
    --dark-white-player: #c1c1c1;
    --black-side: #000000;
    --blue-main: #141922;
    --trasparent-banner: ;
    --grey-player: #282828;
    --grey-icon: #a3a3a3;
}



/* ASIDE SECTION */
/* ASIDE Generic selectors */
aside{
    background-color: var(--black-side);
    height: 90%;
    width: 200px;
    padding-left: 15px;
    position: relative; /* Mi serve per posizionare il div .profile */
}

header{
    display: flex;
    height: 70px;
}

header img{
    width: 120px;
}

aside a{
    color: var(--dark-white-font);
}

ul{
    padding: 5px 0;
}

aside .fas{
    color: var(--grey-icon);
}

/* ASIDE Specific selectors */

.ul-top li{
    padding: 6px 0;
}

.ul-top i{
    width: 20px;
}

.ul-top a{
    padding-left: 5px;
    font-size: 0.9rem;
    font-weight: 700;
}

.ul-middle li {      /* Per "Playlist" */
    color: var(--white-font);
}

/* ---------------------------- */

.ul-middle li{
    padding: 6px 0;
}

.ul-middle li{
    font-size: 0.9rem;
    font-weight: 800;
}

.ul-middle .fa-plus-square{
    font-size: 2rem;
    width: 40px; /* Come alternativa avrei potuto usare il padding-right */
}

#add-playlist a{
    display: flex;
    align-items: center;
}

/* ---------------------------- */

.profile {
    position: absolute;
    bottom: 0;
    padding-right: 15px;
}

.profile hr{
    width: 170px;
    border: 1px solid var(--dark-white-font);
}

.profile span{
    display: block;
    color: var(--dark-white-font);
    padding: 10px 0;
    font-size: 0.8rem;
}

.profile span:last-child a{
    display: flex;
    align-items: center;
    color: var(--white-font);
}

.profile .fas,.far{
    padding-right: 10px;
}

.fa-user-circle{
    font-size: 1.5rem;
}

/* MAIN SECTION */

main{
    background-color: #141922;
    height: 90%;
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main div{
    height: 15vh;
    width: 100%;
    background-color: #858585;
    
}

main .banner{
    height: 100px;
    width: 100%;
    background-color: #00000070;
}



/* FOOTER SECTION */

footer {
    background-color: #282828;
    height: 10%;
    width: 100%;
}