/* Selettori generici */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.container{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: var(--grey);
}

li{
    list-style-type: none;
}

/* Dichiarazione variabili */

html {
    --white: #ffffff;
    --white-darker: #c1c1c1;
    --grey: #7b7d82;
    --grey-darker: #282828;
    --black-side: #000000;
    --blue-main: #141922;
    --trasparent-banner: #00000088;
}



/* ASIDE SECTION */
/* ASIDE Generic selectors */
aside{
    background-color: var(--black-side);
    height: calc(100% - 90px);
    width: 200px;
    padding-left: 15px;
    position: relative; /* Mi serve per posizionare il div .profile */
}

header{
    display: flex;
    height: 70px;
}

header img{
    width: 120px;
    z-index: 2;
}

ul{
    padding: 5px 0;
}

aside .fas{
    color: var(--white-darker);
}

/* ASIDE Specific selectors */

.ul-top li{
    padding: 6px 0;
}

.ul-top i{
    width: 20px;
}

.ul-top a{
    padding-left: 5px;
    font-size: 0.9rem;
    font-weight: 700;
}

.ul-middle li {      /* Per "Playlist" */
    color: var(--white);
}

/* ---------------------------- */

.ul-middle li{
    padding: 6px 0;
}

.ul-middle li{
    font-size: 0.9rem;
    font-weight: 800;
}

.ul-middle .fa-plus-square{
    font-size: 2rem;
    width: 40px; /* Come alternativa avrei potuto usare il padding-right */
}

#add-playlist a{
    display: flex;
    align-items: center;
}

/* ---------------------------- */

.profile {
    position: absolute;
    bottom: 0;
    padding-right: 15px;
}

.profile hr{
    width: 170px;
    border: 1px solid var(--grey);
}

.profile span{
    display: block;
    color: var(--grey);
    padding: 10px 0;
    font-size: 0.8rem;
}

.profile span:last-child a{
    display: flex;
    align-items: center;
    color: var(--white);
}

.profile .fas{
    padding-right: 10px;
}

.profile .far{
    padding-right: 10px;
}

.fa-user-circle{
    font-size: 1.5rem;
}

/* MAIN SECTION */

main{
    background-color: #141922;
    height: calc(100% - 90px);
    width: calc(100% - 200px);
    overflow-y: auto;
}

main > div{
    padding: 20px 0;
}

main h2{
    margin: 20px 0 10px 10px;
}

main h2,h3 {
    color: var(--white);
}

/* MAIN:  .banner SECTION */

main .banner{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    height: 70px;
    width: 100%;
    background-color: var(--trasparent-banner);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.banner button{
    color: var(--white);
    background-color: transparent;
    font-size: 0.7rem;
    margin-right: 30px;
    padding: 12px 30px;
    border: 1.5px solid var(--white);
    border-radius: 30px;
}

.banner button:hover {
    filter:contrast(0.5);
    cursor: pointer;
}

.banner button:active {
    filter:contrast(0.2);
}

/* MAIN:  .category SECTION */

main .category{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
}

main .category a{
    margin: 1em;
}

.category span{
    font-size: 0.7rem;
    font-weight: 800;
}

/* MAIN:  .recently SECTION */

.raw{
    display: flex;
    flex-wrap: wrap;
}

.raw div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
}

.raw div *{
    padding: 5px 0;
}

.raw span {
    color: var(--grey);
}

.raw h3 {
    font-size: 1rem;
}

main span{
    font-size: 0.8rem;
}

.raw img{
    max-width: 90%;
}

/* MAIN:  .suggested SECTION */

.suggested span{
    display: block;
    margin: 0 0 20px 10px;
    color: var(--grey);
}

/* MAIN:  .artists SECTION */

.artists img{
    border-radius: 50%;
}

.artists span{
    display: block;
    margin: 0 0 20px 10px;
    color: var(--grey);
}

/* FOOTER SECTION */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--grey-darker);
    height: 90px;
    width: 100%;
    display: flex;
}

.foot-left,
.foot-right{
    width: 25%;
}

.foot-middle{
    width: 50%;
}

/* .foot-left section */

.foot-left{
    display: flex;
    align-items: center;
}

.foot-left img{
    width: 50px;
    margin: 5px;
}

.foot-left h4{
    color: var(--white);
    font-size: 0.8em;
}

.foot-left span{
    color: var(--grey);
    font-size: 0.6em;
}

.foot-left .far{
    margin: 0 10px;
    color: var(--grey);
}

.foot-left-text{
    margin-left: 10px;
    margin-right: 30px;
}

/* .foot-middle section */

.foot-middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.foot-middle-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.foot-middle-icons i{
    color: var(--white);
    font-size: 1.2em;
    margin: 0 4%;
}

.foot-middle-icons .fa-play-circle{
    font-size: 2em;
}

.foot-middle-time{
    display: flex;
    align-items: baseline;
    width: 80%;
    margin-bottom: 10px;
}

.foot-middle-time span{
    font-size: 0.7em;
    color: var(--white);
}

/* La barra della traccia */
#player-track{
    width: 100%;
    height: 0.4em;
    border-radius: 20px;
    background-color: var(--grey);
    margin: 0 5%;
}

#player-track-now{
    width: 20%;
    height: 0.4em;
    border-radius: 20px;
    background-color: var(--white);
}